.git/*
.nyc_output/*
.coverage/*
coverage/*
bin/*
resources/*
docs/*
.docs/*
node_modules/*
!packages/node_modules/@enocean-js
packages/node_modules/@enocean-js/**/node_modules
examples/*
packages/examples/*
packages/node-red-contrib-enocean/*
packages/playground/*
test/*
test_html/*
node-red-contrib-enocean/*
enocean-ip-gateway/*
octopus-view/*
